<div class="row d-flex vh-100 justify-content-center align-items-center">
  <div class="col-md-4">
    <div class="card shadow">
      <img src="https://picsum.photos/1200/600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input id="username" type="text" class="form-control" placeholder="Masukkan username" [(ngModel)]="username">
        </div>
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input id="password" type="password" class="form-control" placeholder="Masukkan password" [(ngModel)]="password">
        </div>
        <div class="d-grid gap-2">
          <button id="btn_login" class="btn btn-primary btn-lg" type="submit" (click)="onLogin()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>